#about {
  position: relative;
  padding: 100px 0; }
  #about.w-line {
    padding: 200px 0 100px; }
    #about.w-line:before {
      content: "";
      position: absolute;
      top: -100px;
      height: 200px;
      width: 1px;
      background: #000;
      left: 50%; }
  #about p {
    padding: 0 75px;
    text-align: center; }

@media (max-width: 414px) {
  #about {
    padding: 50px 0; }
    #about figcaption {
      text-align: center; }
    #about.w-line {
      padding-top: 100px;
      padding-bottom: 50px; }
    #about:before {
      display: none; }
    #about p {
      padding: 0 10px; } }

/*# sourceMappingURL=about.css.map */