#contact {
  background: #F7F7F7;
  text-align: center;
  padding: 100px 0; }
  #contact h3 {
    margin-bottom: 5px; }
  #contact a {
    display: block; }
  #contact .contact-info {
    margin-top: 60px; }
    #contact .contact-info .icon {
      border: 2px solid #000;
      border-radius: 50%;
      display: inline-block;
      margin-bottom: 15px; }
    #contact .contact-info .text {
      color: #000; }
    #contact .contact-info svg {
      display: block; }
    #contact .contact-info g {
      stroke: #000; }

@media (max-width: 768px) {
  #contact {
    padding: 50px 25px; }
    #contact .contact-info {
      position: relative; }
      #contact .contact-info .icon {
        margin-bottom: 5px; }
      #contact .contact-info > div:not(:last-child) {
        margin-bottom: 25px; } }

@media (min-width: 768px) {
  .contact-info {
    position: relative; }
    .contact-info:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 1px;
      background: #ddd; } }

/*# sourceMappingURL=contact.css.map */