.big-image {
  width: 100%;
  box-sizing: border-box;
  position: relative; }
  .big-image img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover; }

#exhibition {
  padding: 100px 0;
  background: #F7F7F7; }
  #exhibition .left-side h2 {
    margin-bottom: 25px; }
  #exhibition .left-side .share {
    position: absolute;
    top: 6px;
    left: 0; }
  #exhibition .share {
    width: 30px;
    height: 30px;
    position: relative;
    transform: translateX(-95px); }
    #exhibition .share .share-button {
      border: 2px solid #bbb;
      background: url("../img/share.svg") no-repeat center center/cover; }
    #exhibition .share > div {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      cursor: pointer;
      box-sizing: border-box; }
      #exhibition .share > div:not(:last-child) {
        margin-bottom: 10px; }
    #exhibition .share .social-button {
      transition: .3s all ease;
      opacity: 0;
      pointer-events: none;
      background: url("../img/social-icons.svg") no-repeat; }
      #exhibition .share .social-button.facebook {
        background-position: -62px 0;
        background-color: #3b5999; }
      #exhibition .share .social-button.twitter {
        background-position: 0 -31px;
        background-color: #55acee; }
      #exhibition .share .social-button.weibo {
        background-position: 0 0;
        background-color: #EA4F3F; }
      #exhibition .share .social-button.show {
        transform: none;
        opacity: 1;
        pointer-events: auto; }
        #exhibition .share .social-button.show:nth-child(3) {
          transition-delay: .1s; }
        #exhibition .share .social-button.show:nth-child(4) {
          transition-delay: .2s; }
  #exhibition .columns {
    column-count: 2;
    column-gap: 50px; }
  #exhibition p:not(:last-child) {
    margin-bottom: 25px; }
  #exhibition .exhibition-detail .list:not(:last-child) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px; }
  #exhibition .exhibition-detail .list {
    padding-right: 20px; }
  #exhibition .exhibition-detail .title {
    font-size: 1rem;
    margin-bottom: 4px;
    color: #555; }
  #exhibition .exhibition-detail .detail {
    font-size: .85rem;
    color: #777;
    font-weight: 300; }

@media (min-width: 769px) {
  #exhibition .left-side {
    border-left: 180px;
    border-right: 100px;
    border-style: solid;
    border-color: transparent;
    position: relative; }
  #exhibition .share .social-button {
    transform: translateY(-5px); }
  .big-image {
    height: 100vh; } }

@media (max-width: 768px) {
  #exhibition {
    padding: 30px; }
    #exhibition .share.share {
      transform: none;
      position: relative;
      display: flex;
      width: auto;
      margin-bottom: 20px; }
      #exhibition .share.share > div {
        width: 30px; }
        #exhibition .share.share > div:not(:last-child) {
          margin-right: 10px;
          margin-bottom: 0; }
    #exhibition .share .social-button {
      transform: translateX(-5px); }
    #exhibition .left-side {
      margin-bottom: 40px; }
    #exhibition .right-side.right-side {
      padding: 0;
      margin-top: 0; } }

@media (max-width: 1023px) {
  #exhibition .right-side {
    padding: 0 100px;
    margin-top: 50px; } }

@media (max-width: 480px) {
  #exhibition .columns {
    column-count: 1; }
  .big-image {
    height: 100vh; } }

/*# sourceMappingURL=exhibition.css.map */