#footer {
  background: #1F1F1F;
  color: #fff;
  text-align: center;
  padding-top: 40px; }
  #footer .content h2 {
    margin-bottom: 10px; }
  #footer .content h5 {
    margin-bottom: 30px;
    opacity: 0.5; }
  #footer .copyright {
    padding: 25px; }

.contents-wrapper {
  margin: 50px 0 70px;
  position: relative; }
  .contents-wrapper > .content:not(:last-child) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .contents-wrapper > .content {
    opacity: 0;
    pointer-events: none;
    transition: .2s all ease; }
    .contents-wrapper > .content.active {
      pointer-events: auto;
      transition-delay: .1s; }

.tab .active.active.active.active {
  opacity: 1; }

.tab-buttons-wrapper a {
  color: #fff;
  opacity: 0.5;
  transition: .3s all ease;
  text-transform: capitalize; }
  .tab-buttons-wrapper a:hover {
    opacity: 1; }

.social-list {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px 0; }
  .social-list a {
    text-align: center;
    display: block;
    opacity: 0.5;
    transition: .3s all ease;
    cursor: pointer; }
    .social-list a:hover {
      opacity: 1; }
    .social-list a .icon {
      width: 25px;
      height: 25px;
      background: url("../img/footer-icons.svg") no-repeat 0 0; }
  .social-list .instagram .icon {
    background-position: -27px 0; }
  .social-list .facebook .icon {
    background-position: -54px 0; }
  .social-list .twitter .icon {
    background-position: 0 -27px; }
  .social-list .wechat .icon {
    background-position: -27px -27px; }
  .social-list .newsletter .icon {
    background-position: -54px -27px; }
  .social-list .icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: red;
    vertical-align: bottom; }
  .social-list .text {
    display: inline-block;
    line-height: 25px;
    vertical-align: bottom;
    text-transform: uppercase;
    font-size: .8rem;
    color: #fff; }

@media (max-width: 414px) {
  .social-list.social-list li {
    margin: 0 5px; }
  .social-list.social-list .text {
    display: none; } }

@media (min-width: 769px) {
  .mobile-tab .content:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.25); } }

@media (max-width: 768px) {
  .mobile-tab .tab-contents-wrapper {
    position: relative; }
    .mobile-tab .tab-contents-wrapper > .content:not(:last-child) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .mobile-tab .tab-contents-wrapper > .content {
      opacity: 0;
      pointer-events: none;
      transition: .2s all ease; }
      .mobile-tab .tab-contents-wrapper > .content.active {
        pointer-events: auto;
        transition-delay: .1s; }
  .mobile-tab .tab-buttons-wrapper {
    text-align: center;
    margin-top: 30px; }
    .mobile-tab .tab-buttons-wrapper .dot-button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      margin: 0 5px;
      background: #fff; } }

/*# sourceMappingURL=footer.css.map */