#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("../img/home-bg2.jpg") no-repeat center center/cover; }
  #home .content-wrapper {
    height: 100%;
    display: flex; }
  #home .content {
    align-self: center; }
  #home p {
    margin-bottom: 50px;
    font-size: 1.5rem;
    text-align: center; }
  #home.w-overlay {
    color: #fff; }
    #home.w-overlay > * {
      position: relative; }
    #home.w-overlay .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.25); }

@media (max-width: 414px) {
  #home {
    padding: 0 10px; }
    #home p {
      font-size: 1.2rem; } }

/*# sourceMappingURL=home.css.map */