#news {
  overflow: hidden; }
  #news .left-side {
    padding: 50px 0 20px;
    padding-right: 50px;
    padding-left: 40px;
    display: flex;
    flex-direction: column; }
    #news .left-side h3 {
      margin-bottom: 10px; }
    #news .left-side .buttons-ctr {
      margin-top: auto; }
    #news .left-side .news-slides-controls {
      margin-top: auto; }
  #news .news-slides-controls {
    display: flex;
    position: relative; }
    #news .news-slides-controls svg {
      display: block; }
    #news .news-slides-controls .control {
      cursor: pointer;
      border: 1px solid #ddd; }
    #news .news-slides-controls .disabled {
      pointer-events: none; }
    #news .news-slides-controls .next {
      border-left: none; }
  #news .news-slides-scroller {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; }
  #news figure figcaption {
    padding: 15px; }
  #news figure h5:not(:last-child) {
    margin-bottom: 5px; }
  #news figure h4:not(:last-child) {
    margin-bottom: 5px; }
  #news figure .date {
    margin-top: 40px; }

.news-slides {
  font-size: 0;
  text-align: left;
  cursor: move; }
  .news-slides .slide {
    width: 325px;
    display: inline-block; }
    .news-slides .slide:not(:last-child) {
      margin-right: 20px; }

@media (max-width: 768px) {
  #news {
    padding: 50px 0;
    text-align: center; }
    #news .left-side {
      padding-bottom: 0;
      padding-top: 0; }
    #news .news-slides-controls {
      display: none; }
  .news-slides .slide {
    width: 250px; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #news p {
    padding: 0 50px; } }

/*# sourceMappingURL=news.css.map */