.popup {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  display: flex;
  box-sizing: border-box;
  transition: .3s all ease;
  transform: translateY(100%); }
  .popup.subscribe {
    background: #1F1F1F;
    color: #fff; }
    .popup.subscribe h3:not(:last-child) {
      margin-bottom: 15px; }
  .popup.wechat {
    background: #fff;
    text-align: center; }
    .popup.wechat h3 {
      margin-bottom: 30px; }
    .popup.wechat img {
      display: block;
      margin: 0 auto;
      max-width: 300px;
      margin-bottom: 20px; }
    .popup.wechat figure {
      border: none; }
      .popup.wechat figure figcaption {
        padding: 0;
        font-size: 1.2rem; }
  .popup.show {
    transform: none; }
    .popup.show .anim-1,
    .popup.show .anim-2,
    .popup.show .anim-3 {
      opacity: 1;
      transform: none; }
    .popup.show .anim-1 {
      transition-delay: .15s; }
    .popup.show .anim-2 {
      transition-delay: .3s; }
    .popup.show .anim-3 {
      transition-delay: .45s; }
  .popup .el-hidden, .popup .anim-1, .popup .anim-2, .popup .anim-3 {
    opacity: 0;
    transform: translateY(15px);
    transition: .3s all ease; }
  .popup .content-wrapper {
    align-self: center;
    width: 100%; }
  .popup .close-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer; }
  .popup h5 {
    opacity: 0.5;
    line-height: 2; }
  .popup h5:not(:last-child) {
    margin-bottom: 10px; }
  .popup input[type="email"] {
    display: block;
    margin: 100px 0 60px;
    padding: 20px 0;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 1.4rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0; }
    .popup input[type="email"]:focus + .border-bottom {
      transform: none; }
  .popup .input-wrapper {
    position: relative; }
  .popup .border-bottom {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: .3s all ease; }
  .popup a {
    color: #fff; }
  .popup .send {
    background: #fff;
    color: #000; }
  .popup .button.close {
    background: #39393A;
    margin-left: 10px; }

@media (max-width: 414px) {
  .popup {
    padding: 30px; }
  .popup.wechat img {
    width: 100%; } }

/*# sourceMappingURL=popup.css.map */