* {
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  font-family: "AvenirLTStdLight", sans-serif; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: .8rem; }

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("../img/home-bg2.jpg") no-repeat center center/cover; }
  #home .content-wrapper {
    height: 100%;
    display: flex; }
  #home .content {
    align-self: center; }
  #home p {
    margin-bottom: 50px;
    font-size: 1.5rem;
    text-align: center; }
  #home.w-overlay {
    color: #fff; }
    #home.w-overlay > * {
      position: relative; }
    #home.w-overlay .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.25); }

@media (max-width: 414px) {
  #home {
    padding: 0 10px; }
    #home p {
      font-size: 1.2rem; } }

#about {
  position: relative;
  padding: 100px 0; }
  #about.w-line {
    padding: 200px 0 100px; }
    #about.w-line:before {
      content: "";
      position: absolute;
      top: -100px;
      height: 200px;
      width: 1px;
      background: #000;
      left: 50%; }
  #about p {
    padding: 0 75px;
    text-align: center; }

@media (max-width: 414px) {
  #about {
    padding: 50px 0; }
    #about figcaption {
      text-align: center; }
    #about.w-line {
      padding-top: 100px;
      padding-bottom: 50px; }
    #about:before {
      display: none; }
    #about p {
      padding: 0 10px; } }

.big-image {
  width: 100%;
  box-sizing: border-box;
  position: relative; }
  .big-image img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover; }

#exhibition {
  padding: 100px 0;
  background: #F7F7F7; }
  #exhibition .left-side h2 {
    margin-bottom: 25px; }
  #exhibition .left-side .share {
    position: absolute;
    top: 6px;
    left: 0; }
  #exhibition .share {
    width: 30px;
    height: 30px;
    position: relative;
    transform: translateX(-95px); }
    #exhibition .share .share-button {
      border: 2px solid #bbb;
      background: url("../img/share.svg") no-repeat center center/cover; }
    #exhibition .share > div {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      cursor: pointer;
      box-sizing: border-box; }
      #exhibition .share > div:not(:last-child) {
        margin-bottom: 10px; }
    #exhibition .share .social-button {
      transition: .3s all ease;
      opacity: 0;
      pointer-events: none;
      background: url("../img/social-icons.svg") no-repeat; }
      #exhibition .share .social-button.facebook {
        background-position: -62px 0;
        background-color: #3b5999; }
      #exhibition .share .social-button.twitter {
        background-position: 0 -31px;
        background-color: #55acee; }
      #exhibition .share .social-button.weibo {
        background-position: 0 0;
        background-color: #EA4F3F; }
      #exhibition .share .social-button.show {
        transform: none;
        opacity: 1;
        pointer-events: auto; }
        #exhibition .share .social-button.show:nth-child(3) {
          transition-delay: .1s; }
        #exhibition .share .social-button.show:nth-child(4) {
          transition-delay: .2s; }
  #exhibition .columns {
    column-count: 2;
    column-gap: 50px; }
  #exhibition p:not(:last-child) {
    margin-bottom: 25px; }
  #exhibition .exhibition-detail .list:not(:last-child) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px; }
  #exhibition .exhibition-detail .list {
    padding-right: 20px; }
  #exhibition .exhibition-detail .title {
    font-size: 1rem;
    margin-bottom: 4px;
    color: #555; }
  #exhibition .exhibition-detail .detail {
    font-size: .85rem;
    color: #777;
    font-weight: 300; }

@media (min-width: 769px) {
  #exhibition .left-side {
    border-left: 180px;
    border-right: 100px;
    border-style: solid;
    border-color: transparent;
    position: relative; }
  #exhibition .share .social-button {
    transform: translateY(-5px); }
  .big-image {
    height: 100vh; } }

@media (max-width: 768px) {
  #exhibition {
    padding: 30px; }
    #exhibition .share.share {
      transform: none;
      position: relative;
      display: flex;
      width: auto;
      margin-bottom: 20px; }
      #exhibition .share.share > div {
        width: 30px; }
        #exhibition .share.share > div:not(:last-child) {
          margin-right: 10px;
          margin-bottom: 0; }
    #exhibition .share .social-button {
      transform: translateX(-5px); }
    #exhibition .left-side {
      margin-bottom: 40px; }
    #exhibition .right-side.right-side {
      padding: 0;
      margin-top: 0; } }

@media (max-width: 1023px) {
  #exhibition .right-side {
    padding: 0 100px;
    margin-top: 50px; } }

@media (max-width: 480px) {
  #exhibition .columns {
    column-count: 1; }
  .big-image {
    height: 100vh; } }

#artist-list {
  background: #F7F7F7; }
  #artist-list .left-side {
    padding: 50px 0;
    padding-right: 50px;
    padding-left: 40px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column; }
    #artist-list .left-side h3 {
      margin-bottom: 10px; }
    #artist-list .left-side .buttons-ctr {
      margin-top: auto; }
  #artist-list .right-side {
    padding: 100px 0; }
  #artist-list .col {
    text-align: center;
    box-sizing: border-box; }
    #artist-list .col .artist-list {
      display: inline-block;
      text-align: left; }

.artist-list li:not(:last-child) {
  margin-bottom: 5px; }

.artist-list a {
  color: #000; }

@media (max-width: 1024px) {
  #artist-list .left-side {
    border-right: none; } }

@media (max-width: 768px) {
  #artist-list {
    text-align: center; }
    #artist-list .left-side {
      padding: 50px 25px;
      border-bottom: 1px solid #ddd; }
    #artist-list .buttons-ctr {
      margin: 0 -25px; }
    #artist-list .right-side {
      padding: 50px 25px; } }

@media (min-width: 769px) {
  #artist-list .buttons-ctr {
    max-width: 188px; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #artist-list p {
    padding: 0 50px; } }

@media (max-width: 768px) {
  #artist-list .col {
    text-align: left; } }

.zwirner-slideshow {
  position: relative;
  overflow: hidden;
  box-sizing: border-box; }
  .zwirner-slideshow .content-wrapper {
    position: absolute;
    right: 150px;
    bottom: 0; }
    .zwirner-slideshow .content-wrapper .content {
      display: block; }
      .zwirner-slideshow .content-wrapper .content:not(.active) {
        display: none; }
  .zwirner-slideshow .content {
    background: #fff;
    padding: 25px 30px;
    padding-bottom: 0;
    color: #000; }
    .zwirner-slideshow .content h5:not(:last-child) {
      margin-bottom: 3px; }
    .zwirner-slideshow .content h4:not(:last-child) {
      margin-bottom: 13px; }
  .zwirner-slideshow:not(.no-content):hover .control.next,
  .zwirner-slideshow:not(.no-content):hover .control.prev {
    transform: none; }
  .zwirner-slideshow:not(.no-content) .control {
    width: 50px;
    height: 50px;
    background: #fff;
    position: absolute;
    top: 50%;
    margin-top: -25px; }
    .zwirner-slideshow:not(.no-content) .control.next {
      right: 0;
      transform-origin: center right; }
    .zwirner-slideshow:not(.no-content) .control.prev {
      left: 0;
      transform-origin: center left; }
    .zwirner-slideshow:not(.no-content) .control.disabled {
      opacity: .5;
      pointer-events: none; }
  .zwirner-slideshow.no-content .controls-wrapper {
    position: absolute;
    background: #fff;
    right: 30px;
    bottom: 30px;
    display: flex; }
    .zwirner-slideshow.no-content .controls-wrapper .control {
      transform: none; }
      .zwirner-slideshow.no-content .controls-wrapper .control:first-child {
        border-right: 1px solid #ddd; }
  .zwirner-slideshow .control {
    cursor: pointer;
    transition: .3s all ease; }
    .zwirner-slideshow .control.disabled {
      opacity: .5;
      pointer-events: none; }
    .zwirner-slideshow .control svg {
      display: block; }

.slides-wrapper {
  position: relative;
  background: #000;
  height: 100%; }
  .slides-wrapper .slide {
    transition: .15s all ease;
    opacity: 0;
    height: 100%; }
    .slides-wrapper .slide.active {
      opacity: 1;
      transition: .3s all ease; }
    .slides-wrapper .slide:not(:first-child) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  .slides-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

@media (min-width: 769px) {
  .zwirner-slideshow {
    height: 100vh; }
    .zwirner-slideshow .control.next {
      transform: translateX(100%); }
    .zwirner-slideshow .control.prev {
      transform: translateX(-100%); } }

@media (max-width: 414px) {
  .zwirner-slideshow {
    height: 100vh; }
    .zwirner-slideshow .content-wrapper {
      bottom: 0;
      left: 0;
      right: 0; }
    .zwirner-slideshow .content {
      padding: 15px; }
    .zwirner-slideshow .control {
      zoom: .8; } }

.popup {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  display: flex;
  box-sizing: border-box;
  transition: .3s all ease;
  transform: translateY(100%); }
  .popup.subscribe {
    background: #1F1F1F;
    color: #fff; }
    .popup.subscribe h3:not(:last-child) {
      margin-bottom: 15px; }
  .popup.wechat {
    background: #fff;
    text-align: center; }
    .popup.wechat h3 {
      margin-bottom: 30px; }
    .popup.wechat img {
      display: block;
      margin: 0 auto;
      max-width: 300px;
      margin-bottom: 20px; }
    .popup.wechat figure {
      border: none; }
      .popup.wechat figure figcaption {
        padding: 0;
        font-size: 1.2rem; }
  .popup.show {
    transform: none; }
    .popup.show .anim-1,
    .popup.show .anim-2,
    .popup.show .anim-3 {
      opacity: 1;
      transform: none; }
    .popup.show .anim-1 {
      transition-delay: .15s; }
    .popup.show .anim-2 {
      transition-delay: .3s; }
    .popup.show .anim-3 {
      transition-delay: .45s; }
  .popup .el-hidden, .popup .anim-1, .popup .anim-2, .popup .anim-3 {
    opacity: 0;
    transform: translateY(15px);
    transition: .3s all ease; }
  .popup .content-wrapper {
    align-self: center;
    width: 100%; }
  .popup .close-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer; }
  .popup h5 {
    opacity: 0.5;
    line-height: 2; }
  .popup h5:not(:last-child) {
    margin-bottom: 10px; }
  .popup input[type="email"] {
    display: block;
    margin: 100px 0 60px;
    padding: 20px 0;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 1.4rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0; }
    .popup input[type="email"]:focus + .border-bottom {
      transform: none; }
  .popup .input-wrapper {
    position: relative; }
  .popup .border-bottom {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: .3s all ease; }
  .popup a {
    color: #fff; }
  .popup .send {
    background: #fff;
    color: #000; }
  .popup .button.close {
    background: #39393A;
    margin-left: 10px; }

@media (max-width: 414px) {
  .popup {
    padding: 30px; }
  .popup.wechat img {
    width: 100%; } }

#contact {
  background: #F7F7F7;
  text-align: center;
  padding: 100px 0; }
  #contact h3 {
    margin-bottom: 5px; }
  #contact a {
    display: block; }
  #contact .contact-info {
    margin-top: 60px; }
    #contact .contact-info .icon {
      border: 2px solid #000;
      border-radius: 50%;
      display: inline-block;
      margin-bottom: 15px; }
    #contact .contact-info .text {
      color: #000; }
    #contact .contact-info svg {
      display: block; }
    #contact .contact-info g {
      stroke: #000; }

@media (max-width: 768px) {
  #contact {
    padding: 50px 25px; }
    #contact .contact-info {
      position: relative; }
      #contact .contact-info .icon {
        margin-bottom: 5px; }
      #contact .contact-info > div:not(:last-child) {
        margin-bottom: 25px; } }

@media (min-width: 768px) {
  .contact-info {
    position: relative; }
    .contact-info:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 1px;
      background: #ddd; } }

#news {
  overflow: hidden; }
  #news .left-side {
    padding: 50px 0 20px;
    padding-right: 50px;
    padding-left: 40px;
    display: flex;
    flex-direction: column; }
    #news .left-side h3 {
      margin-bottom: 10px; }
    #news .left-side .buttons-ctr {
      margin-top: auto; }
    #news .left-side .news-slides-controls {
      margin-top: auto; }
  #news .news-slides-controls {
    display: flex;
    position: relative; }
    #news .news-slides-controls svg {
      display: block; }
    #news .news-slides-controls .control {
      cursor: pointer;
      border: 1px solid #ddd; }
    #news .news-slides-controls .disabled {
      pointer-events: none; }
    #news .news-slides-controls .next {
      border-left: none; }
  #news .news-slides-scroller {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; }
  #news figure figcaption {
    padding: 15px; }
  #news figure h5:not(:last-child) {
    margin-bottom: 5px; }
  #news figure h4:not(:last-child) {
    margin-bottom: 5px; }
  #news figure .date {
    margin-top: 40px; }

.news-slides {
  font-size: 0;
  text-align: left;
  cursor: move; }
  .news-slides .slide {
    width: 325px;
    display: inline-block; }
    .news-slides .slide:not(:last-child) {
      margin-right: 20px; }

@media (max-width: 768px) {
  #news {
    padding: 50px 0;
    text-align: center; }
    #news .left-side {
      padding-bottom: 0;
      padding-top: 0; }
    #news .news-slides-controls {
      display: none; }
  .news-slides .slide {
    width: 250px; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #news p {
    padding: 0 50px; } }

#footer {
  background: #1F1F1F;
  color: #fff;
  text-align: center;
  padding-top: 40px; }
  #footer .content h2 {
    margin-bottom: 10px; }
  #footer .content h5 {
    margin-bottom: 30px;
    opacity: 0.5; }
  #footer .copyright {
    padding: 25px; }

.contents-wrapper {
  margin: 50px 0 70px;
  position: relative; }
  .contents-wrapper > .content:not(:last-child) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .contents-wrapper > .content {
    opacity: 0;
    pointer-events: none;
    transition: .2s all ease; }
    .contents-wrapper > .content.active {
      pointer-events: auto;
      transition-delay: .1s; }

.tab .active.active.active.active {
  opacity: 1; }

.tab-buttons-wrapper a {
  color: #fff;
  opacity: 0.5;
  transition: .3s all ease;
  text-transform: capitalize; }
  .tab-buttons-wrapper a:hover {
    opacity: 1; }

.social-list {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px 0; }
  .social-list a {
    text-align: center;
    display: block;
    opacity: 0.5;
    transition: .3s all ease;
    cursor: pointer; }
    .social-list a:hover {
      opacity: 1; }
    .social-list a .icon {
      width: 25px;
      height: 25px;
      background: url("../img/footer-icons.svg") no-repeat 0 0; }
  .social-list .instagram .icon {
    background-position: -27px 0; }
  .social-list .facebook .icon {
    background-position: -54px 0; }
  .social-list .twitter .icon {
    background-position: 0 -27px; }
  .social-list .wechat .icon {
    background-position: -27px -27px; }
  .social-list .newsletter .icon {
    background-position: -54px -27px; }
  .social-list .icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: red;
    vertical-align: bottom; }
  .social-list .text {
    display: inline-block;
    line-height: 25px;
    vertical-align: bottom;
    text-transform: uppercase;
    font-size: .8rem;
    color: #fff; }

@media (max-width: 414px) {
  .social-list.social-list li {
    margin: 0 5px; }
  .social-list.social-list .text {
    display: none; } }

@media (min-width: 769px) {
  .mobile-tab .content:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.25); } }

@media (max-width: 768px) {
  .mobile-tab .tab-contents-wrapper {
    position: relative; }
    .mobile-tab .tab-contents-wrapper > .content:not(:last-child) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .mobile-tab .tab-contents-wrapper > .content {
      opacity: 0;
      pointer-events: none;
      transition: .2s all ease; }
      .mobile-tab .tab-contents-wrapper > .content.active {
        pointer-events: auto;
        transition-delay: .1s; }
  .mobile-tab .tab-buttons-wrapper {
    text-align: center;
    margin-top: 30px; }
    .mobile-tab .tab-buttons-wrapper .dot-button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      margin: 0 5px;
      background: #fff; } }

.link {
  color: #4285f4; }

.display-flex {
  display: flex; }
  .display-flex .right {
    margin-left: auto; }

section {
  position: relative; }
  section:not(.no-border) {
    border: 20px solid #fff; }
  section.side-border-transparent {
    padding-left: 20px;
    padding-right: 20px; }
  section:not(.no-border):not(:first-child) {
    border-top: none; }

@media (max-width: 414px) {
  section:not(.no-border) {
    border: 10px solid #fff; }
  section.side-border-transparent {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; } }

body.show-header .header-bg {
  transform: none;
  opacity: 1;
  transition: .3s transform ease, .3s opacity ease; }

body.show-header header.white a {
  color: #000; }

.header-bg {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background: #fff;
  height: 66px;
  transform: translateY(-100%);
  transition: .3s transform ease, .1s opacity ease .3s;
  opacity: 0;
  z-index: 1; }

header {
  padding: 15px 20px;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  box-sizing: border-box; }
  header.white a {
    color: #fff; }
  header.w-bg {
    background: #fff; }
  header .logo {
    font-size: 1.5rem; }
  header a {
    color: #000;
    text-decoration: none;
    align-self: center;
    position: relative;
    transition: .3s all ease; }

@media (min-width: 780px) {
  .base-width {
    width: 780px;
    display: block;
    margin: 0 auto; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .base-width {
    padding: 0 50px; } }

@media (max-width: 768px) {
  .buttons-ctr.inline.buttons-ctr.inline .button {
    margin-bottom: 0; }
  .buttons-ctr .button {
    margin: 0 5px; } }

p {
  font-size: 1rem;
  line-height: 1.8; }
  p:not(:last-child) {
    margin-bottom: 50px; }

.buttons-ctr {
  font-size: 0; }
  .buttons-ctr .button {
    display: inline-block; }
  .buttons-ctr .text, .buttons-ctr .icon {
    display: inline-block;
    vertical-align: bottom; }
  .buttons-ctr.center {
    text-align: center; }
    .buttons-ctr.center .button {
      margin: 0 5px; }
  .buttons-ctr.inline .button:not(:last-child) {
    margin-bottom: 10px; }

.button {
  border: 1px solid #000;
  padding: 0 25px;
  text-decoration: none;
  transition: .3s all ease;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  text-transform: capitalize; }
  .button.white {
    border-color: #fff; }
    .button.white:before {
      background: #fff; }
    .button.white .text {
      color: #fff; }
    .button.white .icon {
      border-color: #fff; }
    .button.white.wechat svg g {
      fill: #fff; }
    .button.white.mail svg g {
      stroke: #fff; }
    .button.white:hover .text {
      color: #000 !important; }
    .button.white:hover .icon {
      border-color: rgba(0, 0, 0, 0.5) !important; }
    .button.white:hover.wechat svg g {
      fill: #000; }
    .button.white:hover.mail svg g {
      stroke: #000; }
  .button.secondary {
    padding: 10px 25px;
    display: inline-block;
    border: none; }
  .button:not(.secondary) {
    padding-right: 0; }
    .button:not(.secondary):hover:before {
      transform: none; }
    .button:not(.secondary):hover .text {
      color: #fff; }
    .button:not(.secondary):hover .icon {
      border-color: rgba(255, 255, 255, 0.5); }
  .button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 0;
    transition: .3s all ease;
    transform: scaleX(0);
    transform-origin: left; }
  .button.in:before {
    transform-origin: right; }
  .button.wechat:hover g {
    fill: #fff; }
  .button.mail:hover g {
    stroke: #fff; }
  .button .text {
    font-size: 1rem;
    line-height: 42px;
    color: #000;
    position: relative; }
  .button .icon {
    width: 42px;
    height: 42px;
    margin-left: 25px;
    border-left: 1px solid #000;
    position: relative; }
  .button g {
    transition: .3s all ease; }

figure {
  border-bottom: 1px solid #eee; }
  figure img {
    display: block;
    width: 100%; }
  figure figcaption {
    padding: 25px; }
  figure:not(:last-child) {
    margin-bottom: 50px; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.7rem; }

.inline-list {
  text-align: center; }
  .inline-list li {
    display: inline-block;
    margin: 0 15px; }

/*# sourceMappingURL=style.css.map */