.zwirner-slideshow {
  position: relative;
  overflow: hidden;
  box-sizing: border-box; }
  .zwirner-slideshow .content-wrapper {
    position: absolute;
    right: 150px;
    bottom: 0; }
    .zwirner-slideshow .content-wrapper .content {
      display: block; }
      .zwirner-slideshow .content-wrapper .content:not(.active) {
        display: none; }
  .zwirner-slideshow .content {
    background: #fff;
    padding: 25px 30px;
    padding-bottom: 0;
    color: #000; }
    .zwirner-slideshow .content h5:not(:last-child) {
      margin-bottom: 3px; }
    .zwirner-slideshow .content h4:not(:last-child) {
      margin-bottom: 13px; }
  .zwirner-slideshow:not(.no-content):hover .control.next,
  .zwirner-slideshow:not(.no-content):hover .control.prev {
    transform: none; }
  .zwirner-slideshow:not(.no-content) .control {
    width: 50px;
    height: 50px;
    background: #fff;
    position: absolute;
    top: 50%;
    margin-top: -25px; }
    .zwirner-slideshow:not(.no-content) .control.next {
      right: 0;
      transform-origin: center right; }
    .zwirner-slideshow:not(.no-content) .control.prev {
      left: 0;
      transform-origin: center left; }
    .zwirner-slideshow:not(.no-content) .control.disabled {
      opacity: .5;
      pointer-events: none; }
  .zwirner-slideshow.no-content .controls-wrapper {
    position: absolute;
    background: #fff;
    right: 30px;
    bottom: 30px;
    display: flex; }
    .zwirner-slideshow.no-content .controls-wrapper .control {
      transform: none; }
      .zwirner-slideshow.no-content .controls-wrapper .control:first-child {
        border-right: 1px solid #ddd; }
  .zwirner-slideshow .control {
    cursor: pointer;
    transition: .3s all ease; }
    .zwirner-slideshow .control.disabled {
      opacity: .5;
      pointer-events: none; }
    .zwirner-slideshow .control svg {
      display: block; }

.slides-wrapper {
  position: relative;
  background: #000;
  height: 100%; }
  .slides-wrapper .slide {
    transition: .15s all ease;
    opacity: 0;
    height: 100%; }
    .slides-wrapper .slide.active {
      opacity: 1;
      transition: .3s all ease; }
    .slides-wrapper .slide:not(:first-child) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  .slides-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

@media (min-width: 769px) {
  .zwirner-slideshow {
    height: 100vh; }
    .zwirner-slideshow .control.next {
      transform: translateX(100%); }
    .zwirner-slideshow .control.prev {
      transform: translateX(-100%); } }

@media (max-width: 414px) {
  .zwirner-slideshow {
    height: 100vh; }
    .zwirner-slideshow .content-wrapper {
      bottom: 0;
      left: 0;
      right: 0; }
    .zwirner-slideshow .content {
      padding: 15px; }
    .zwirner-slideshow .control {
      zoom: .8; } }

/*# sourceMappingURL=zwirner-slideshow.css.map */