* {
	margin: 0;
	padding: 0;
}

$avenir: 'AvenirLTStdLight', sans-serif;

body {
	font-size: 16px;
	font-family: $avenir;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: .8rem;
}

@import "components/home";
@import "components/about";
@import "components/exhibition";
@import "components/artist-list";
@import "components/zwirner-slideshow";
@import "components/popup";
@import "components/contact";
@import "components/news";
@import "components/footer";

.link {
	color: #4285f4;
}

.display-flex {
	display: flex;

	.right {
		margin-left: auto;
	}
}

section {
	position: relative;
	$borderBase: 20px;

	&:not(.no-border) {
		border: $borderBase solid #fff;
	}

	&.side-border-transparent {
		padding-left: $borderBase;
		padding-right: $borderBase;
	}

	&:not(.no-border):not(:first-child) {
		border-top: none;
	}
}

// iphone 6 plus
@media (max-width : 414px) {
	$borderBase: 10px;

	section {

		&:not(.no-border) {
			border: $borderBase solid #fff;
		}

		&.side-border-transparent {
			border-left: $borderBase solid transparent;
			border-right: $borderBase solid transparent;
		}

	}

}

body.show-header {

	.header-bg {
		transform: none;
		opacity: 1;
		transition: .3s transform ease, .3s opacity ease;
	}

	header.white a {
		color: #000;
	}
}

.header-bg {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	background: #fff;
	// border-bottom: 1px solid #eee;
	height: 66px;
	transform: translateY(-100%);
	transition: .3s transform ease, .1s opacity ease .3s;
	opacity: 0;
	z-index: 1;

	
}

header {
	padding: 15px 20px;
	font-size: 1.2rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	box-sizing: border-box;

	&.white {
		a {
			color: #fff;
		}
	}

	&.w-bg {
		background: #fff;
		// border-bottom: 1px solid #eee;
	}

	.logo {
		font-size: 1.5rem;
	}

	a {
		color: #000;
		text-decoration: none;
		align-self: center;
		position: relative;
		transition: .3s all ease;
	}
}

@media (min-width: 780px) {

	.base-width {
		width: 780px;
		display: block;
		margin: 0 auto;
	}
	
}

// ipad potrait and landscape
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {
	.base-width {
		padding: 0 50px;
	}
}

// ipad potrait
@media (max-width: 768px) {
	.buttons-ctr.inline.buttons-ctr.inline .button {
		margin-bottom: 0;
	}

	.buttons-ctr .button {
		margin: 0 5px;
	}
}

p {
	font-size: 1rem;
	line-height: 1.8;

	&:not(:last-child) {
		margin-bottom: 50px;
	}
}

.buttons-ctr {
	font-size: 0;

	.button {
		display: inline-block;
	}

	.text, .icon {
		display: inline-block;
		vertical-align: bottom;
	}

	&.center {
	  text-align: center;

	  .button {
	  	margin: 0 5px;
	  }
	}

	&.inline {

		.button {

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}

	}
}

.button {
	$buttonPaddingBase: 25px;
	$buttonHeight: 42px;
	border: 1px solid #000;
	padding: 0 $buttonPaddingBase;
	text-decoration: none;
	transition: .3s all ease;
	position: relative;
	cursor: pointer;
	font-size: 1rem;
	text-transform: capitalize;

	&.white {
		border-color: #fff;

		&:before {
			background: #fff;
		}

		.text {
			color: #fff;
		}

		.icon {
			border-color: #fff;
		}

		&.wechat svg g {
			fill: #fff;
		}

		&.mail svg g {
			stroke: #fff;
		}

		&:hover {

			.text {
				color: #000 !important;
			}

			.icon {
				border-color: rgba(0,0,0,.5) !important;
			}

			&.wechat svg g {
				fill: #000;
			}

			&.mail svg g {
				stroke: #000;
			}
		}
	}
	
	&.secondary {
		padding: 10px $buttonPaddingBase;
		display: inline-block;
		border: none;
	}

	&:not(.secondary) {
		padding-right: 0;

		&:hover {

			&:before {
				transform: none;
			}

			.text {
				color: #fff;
			}

			.icon {
				border-color: rgba(255,255,255,.5);
			}
		}
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #000;
		z-index: 0;
		transition: .3s all ease;
		transform: scaleX(0);
		transform-origin: left;
	}

	&.in:before {
		transform-origin: right;
	}

	&.wechat:hover {
		g {
			fill: #fff;
		}
	}

	&.mail:hover {
		g {
			stroke: #fff;
		}
	}

	.text {
		font-size: 1rem;
		line-height: $buttonHeight;
		color: #000;
		position: relative;
	}

	.icon {
		width: $buttonHeight;
		height: $buttonHeight;
		margin-left: $buttonPaddingBase;
		border-left: 1px solid #000;
		position: relative;
	}

	g {
		transition: .3s all ease;
	}
}

figure {
	border-bottom: 1px solid #eee;

	img {
		display: block;
		width: 100%;
	}

	figcaption {
		padding: 25px;
	}

	&:not(:last-child) {
		margin-bottom: 50px;
	}
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.7rem;
}

.inline-list {
	text-align: center;

	li {
		display: inline-block;
		margin: 0 15px;
	}
}