<!DOCTYPE html>
html(lang="zh")
	title David Zwirner Chinese Website
	link(rel="stylesheet", href="css/reset.css")
	link(rel="stylesheet", href="css/flexboxgrid.css")
	link(rel="stylesheet", href="css/font.css")
	link(rel="stylesheet", href="css/style.css")

	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
	meta(charset="UTF-8")

	//- header
	header.display-flex.w-bg
		a.left.logo(href="index.html") David Zwirner 線光艦
		a.right.en-version(href="https://davidzwirner.com", target="_blank") EN



	//- section big image
	section.big-image
		img(src="img/slides/4.jpg", alt="Slide 1")



	
	//- section exhibition
	section#exhibition
		.content
			.row
				.col-md-10.col-sm-12.col-xs-12.left-side
					.share
						.share-button
						.social-button.facebook
						.social-button.twitter
						.social-button.weibo

					h2 Josef and Anni and Ruth and Ray
					.columns
						p David Zwirner is pleased to present Josef and Anni and Ruth and Ray as the inaugural exhibition at the gallery's 34 East 69th Street location. Featuring work by Josef Albers, Anni Albers, Ruth Asawa, and Ray Johnson—all of whom were at Black Mountain College in North Carolina in the late 1940s—this exhibition will explore both the aesthetic and personal dialogue between these artists during their Black Mountain years and beyond; and will include a number of works exchanged amongst the group, in addition to a selection of key compositions influenced by their time there.
						p Josef and Anni Albers arrived at Black Mountain College in 1933, both having studied and subsequently taught at the Bauhaus for nearly a decade. It was through the Alberses that the pedagogy of the famed German art school, which espoused ideals of radical experimentation and an open interchange of ideas, was imported and adapted in their new setting. As Asawa recalls, Josef Albers would open his Basic Design course by saying, "Open your eyes and see. My aim is to make you see more than you want to. I am here to destroy all your prejudices. If you already have a style don't bring it with you. It will only be in the way"—in essence paraphrasing the aesthetic philosophy that came to define Black Mountain College as a progressive and avant-garde institution in those years. Johnson arrived as student in 1945, and Asawa subsequently in 1946—both quickly availing themselves of the Alberses's guidance, which was particularly unexpected in the case of Johnson, whose nontraditional approach contrasted with the older artists' formal rigor.

				.col-md-2.col-sm-12.col-xs-12.right-side
					.exhibition-detail
						.list
							.title Location
							.detail 34 East 69th Street New York
						.list
							.title Dates
							.detail September 20 - October 28, 2017
						.list
							.title Extended Hours
							.detail Thursday, October 26, 5 – 9 PM
						.list
							.title Special Event
							.detail Guided tour with Nicholas Fox Weber, Executive Director, The Josef and Anni Albers Foundation: Saturday, October 28, 11 AM
						.list
							.title Artists
							.detail Anni Albers  Josef Albers Ruth Asawa  Ray Johnson




	//- section slider
	section#slider.zwirner-slideshow.no-content
		include ../includes/slider-exhibition.pug




	//- footer
	include ../includes/footer.pug

	script(src="js/get.js")
	script(src="js/anime.min.js")
	script(src="js/main.js")
	script(src="js/slideshow.js")