<!DOCTYPE html>
html(lang="zh")
	title David Zwirner - Hong Kong Gallery
	link(rel="stylesheet", href="css/reset.css")
	link(rel="stylesheet", href="css/flexboxgrid.css")
	link(rel="stylesheet", href="css/font.css")
	link(rel="stylesheet", href="css/style.css")

	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
	meta(charset="UTF-8")

	//- popups, wechat and subscribe
	include ../includes/popup.pug

	//- html to jade http://html2jade.vida.io/

	//- header background
	.header-bg

	//- header
	header.display-flex
		a.left.logo(href="index.html") David Zwirner 卓納畫廊
		a.right.en-version(href="https://davidzwirner.com", target="_blank") EN



	//- home section
	//- section#home.no-border.side-border-transparent.w-overlay
	section#home.no-border.side-border-transparent
		.overlay
		.content-wrapper
			.content.base-width
				p 卓納畫廊欣然宣佈香港空間將於2018年1月27日正式開幕，展出比利時藝術家   Michaël Borremans(米凱爾·博伊曼斯)的全新油畫作品。

				.buttons-ctr.center
					include ../includes/buttons.html



	//- about section
	section#about.w-line
		.content-wrapper
			.content.base-width
				p 卓納畫廊香港空間將由原上海LeoXuProjects創辦人許宇及前紐約佳士得副總裁、戰後及當代藝術部早間拍賣主管JenniferYum共同管理。
				
				figure
					img(src="img/hk-team.jpg", alt="Hong Kong Team")
					figcaption 由左至右：Jennifer Yum，David Zwirner，許宇（Leo Xu），摄影：Anna Bauer

				p 作為卓納畫廊在亞洲的首個空間，香港畫廊位於中環H   Queen’s大樓的五至六層。H Queen’s是香港的藝術和生活品味新地標，由思聯建築(CL3   Architects)的著名建築師林 偉而設計。卓納畫廊香港空間將繼續由曾負責畫廊紐約和倫敦空間的建築師Annabelle Selldorf   擔任室內設計師。佔地兩層的畫廊共計超過10,000平方呎，將包括四個大小可變 的無柱展覽場地，可配合各類藝術作品的展示。

				p 卓納畫廊的開幕展將帶來當今最重要的畫家之一——比利時藝術家 Michaël Borremans（米凱爾·博伊曼斯）的全新油畫作品。「Michaël Borremans：Fire from the Sun」將是藝術家在香港的首次個展，同時卓納圖書（David Zwirner Books）也將為該展出版精美圖錄，並邀請英國著名藝術評論家、策展人及藝術史學家Michael Bracewell撰寫文章。

				p
					a.link(href="/David_Zwirner_HK_Press_Release.pdf") 如欲了解更多資訊，請在此處下載新聞稿。

				.buttons-ctr.center
					include ../includes/buttons.html


	//- artist list section
	include ../includes/artist-list.pug

	//- footer
	include ../includes/footer.pug

	script(src="js/get.js")
	script(src="js/header.js")
	script(src="js/main.js")