<!DOCTYPE html>
html(lang="zh")
	title David Zwirner Chinese Website
	link(rel="stylesheet", href="css/reset.css")
	link(rel="stylesheet", href="css/flexboxgrid.css")
	link(rel="stylesheet", href="css/font.css")
	link(rel="stylesheet", href="css/style.css")

	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
	meta(charset="UTF-8")

	//- popup
	include ../includes/popup.pug

	//- header
	header.display-flex.w-bg
		a.left.logo(href="index.html") David Zwirner 線光艦
		a.right.en-version(href="https://davidzwirner.com", target="_blank") EN



	//- slider section
	section#slider.zwirner-slideshow
		include ../includes/slider.pug



	//- about section
	section#about
		.content-wrapper
			.content.base-width
				p 線光艦済人定連張講合終経投紹。間押改進必強出招徹田最要自。側祈謝日支起重商悪載東講出貸訪。言感伊旅京助必合前常突魔熱任部変。重覚極販効搭歳墜将水島上闘断。索観雪主点情州経必社氷健語活題。面層王示見印自委税図会朝回所係逆阜能結不。朝持用美慶特会一表隠勝秋地変哲知輩用働。真選電然位際死週氏新関宝権。

				figure
					img(src="img/img1.png", alt="Image 1")



	//- artist list section
	include ../includes/artist-list.pug




	//- news section
	section#news
		.content
			.row
				.col-md-3.col-sm-12.col-xs-12.left-side
					h3 州経必社
					p 起制内現変借政肇鮮井請湾告座津。覧季更通個江調応論出山最初通光。舞犯風所依議能時現度入加討野断。

					.news-slides-controls
						.control.prev
							svg(xmlns="http://www.w3.org/2000/svg", width="40", height="40", viewbox="0 0 50 50")
								g(fill="none", fill-rule="evenodd")
									path(stroke="#979797", stroke-width="2", d="M30 15L20 25l10 10", stroke-linecap="round", stroke-linejoin="round")

						.control.next
							svg(xmlns="http://www.w3.org/2000/svg", width="40", height="40", viewbox="0 0 50 50")
								g(fill="none", fill-rule="evenodd")
									path(stroke="#979797", stroke-width="2", d="M20 15l10 10-10 10", stroke-linecap="round", stroke-linejoin="round")

				.col-md-9.col-sm-12.col-xs-12.news-slides-scroller
					.news-slides
						- var slidesArr = [0, 1, 2, 3]
						each slide in slidesArr
							.slide
								figure
									img(src="img/news/1.png", alt="Image 1")
									figcaption
										h5 起制内
										h4 起制内現変借政肇
										h5 起制内現変借政肇鮮井請湾告座津。覧季更通個江調応論出山最初通光。
										h5.date 起制内1現変2017



	//- contact section
	section#contact
		.content.base-width
			h3 線光艦済
			h4 起制内現変借政肇鮮井請湾告座津。覧季更通個江調応論出山最初通光。

			.row.contact-info
				.col-md-6.col-sm-6.col-xs-12
					a(href="")
						.icon
							<svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 54 54">
								<g fill="none" fill-rule="evenodd" stroke-width="2" transform="translate(2 2)">
									<path d="M20.5 19.3c1.2-1 1.2-3 0-4.2l-3.2-3c-1.2-1.3-3-1.3-4.2 0l-1.7 1.6c-1.5 1.6-1.7 4-.6 5.7 5 7.7 12 14.5 19.6 19.5 1.8 1.2 4 1 5.6-.5l1.7-1.8c1.2-1 1.2-3 0-4.2L34.5 29c-1.2-1-3-1-4.2 0l-1 1.2c-3.6-3-7-6.3-10-9.8l1.2-1z" stroke-linecap="round" stroke-linejoin="round"/>
								</g>
							</svg>
						.text 起制内: 212—727—2070

				.col-md-6.col-sm-6.col-xs-12
					a(href="mailto:hongkong@davidzwirner.com")
						.icon
							<svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 54 54">
								<g fill="none" fill-rule="evenodd" stroke-linejoin="round" stroke-width="2" transform="translate(2 2)">
									<path d="M38.6 31.8c0 1.4-1.2 2.6-2.6 2.6H13.5c-1.5 0-2.5-1.2-2.5-2.6V18.6c0-1.6 1-2.6 2.6-2.6H36c1.5 0 2.6 1 2.6 2.6v13.2z" stroke-linecap="round"/>
									<path d="M38 16.7l-12.7 10-13.6-10"/>
								</g>
							</svg>
						.text hongkong@davidzwirner.com



	//- footer
	include ../includes/footer.pug

	script(src="js/get.js")
	script(src="js/anime.min.js")
	script(src="js/main.js")
	script(src="js/slideshow.js")