#about {
	position: relative;
	padding: 100px 0;

	&.w-line {
		$aboutPaddingTop: 200px;
		padding: $aboutPaddingTop 0 100px;

		// line
		&:before {
			content: "";
			position: absolute;
			top: -$aboutPaddingTop/2;
			height: $aboutPaddingTop;
			width: 1px;
			background: #000;
			left: 50%;
		}
	}


	p {
		padding: 0 75px;
		text-align: center;
	}
}

// iphone 6 plus
@media (max-width : 414px) {
	
	#about {
		padding: 50px 0;

		figcaption {
			text-align: center;
		}

		&.w-line {
			padding-top: 100px;
			padding-bottom: 50px;
		}

		&:before {
			display: none;
		}

		p {
			padding: 0 10px;
		}
	}	
}