#artist-list {
	background: #F7F7F7;

	.left-side {
		padding: 50px 0;
		padding-right: 50px;
		padding-left: 40px;
		border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;

		h3 {
			margin-bottom: 10px;
		}

		.buttons-ctr {
			margin-top: auto;
		}
	}

	.buttons-ctr {
		
	}

	.right-side {
		padding: 100px 0;
	}

	.col {
		text-align: center;
		box-sizing: border-box;

		.artist-list {
			display: inline-block;
			text-align: left;
		}
	}
}

.artist-list {
	li:not(:last-child) {
		margin-bottom: 5px;
	}

	a {
		color: #000;
	}
}

@media (max-width: 1024px) {

	#artist-list .left-side {
		border-right: none;
	}
}

@media (max-width: 768px) {

	#artist-list {
		text-align: center;

		.left-side {
			padding: 50px 25px;
			border-bottom: 1px solid #ddd;
		}

		.buttons-ctr {
			margin: 0 -25px;
		}

		.right-side {
			padding: 50px 25px;
		}
	}
}

@media (min-width: 769px) {

	#artist-list {
		.buttons-ctr {
			max-width: 188px;
		}
	}
}

// ipad potrait
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  {
	#artist-list {

		p {
			padding: 0 50px;
		}
	}
}

// iphone 6 plus
@media (max-width : 768px) {

	#artist-list {

		.col {
			text-align: left;
		}
	}
}