#contact {
	background: #F7F7F7;
	text-align: center;
	padding: 100px 0;

	h3 {
		margin-bottom: 5px;
	}

	a {
		display: block;
	}

	.contact-info {
		margin-top: 60px;

		.icon {
			border: 2px solid #000;
			border-radius: 50%;
			display: inline-block;
			margin-bottom: 15px;
		}

		.text {
			color: #000;
		}

		svg {
			display: block;
		}

		g {
			stroke: #000;
		}
	}
}

@media (max-width: 768px) {

	#contact {
		padding: 50px 25px;
		
		.contact-info {
			position: relative;

			.icon {
				margin-bottom: 5px;
			}

			> div:not(:last-child) {
				margin-bottom: 25px;
			}
		}
	}

}

@media (min-width: 768px) {

	.contact-info {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			left: 50%;
			top: 0;
			bottom: 0;
			width: 1px;
			background: #ddd;
		}
	}
}