.big-image {
	width: 100%;
	box-sizing: border-box;
	position: relative;

	img {
		width: 100%;
		display: block;
		height: 100%;
		object-fit: cover;
	}
}

#exhibition {
	padding: 100px 0;
	background: #F7F7F7;

	.left-side {
		// border-left: 180px;
		// border-right: 100px;
		// border-style: solid;
		// border-color: transparent;
		// position: relative;
		// padding-left: 70px;

		h2 {
			margin-bottom: 25px;
		}

		.share {
			position: absolute;
			top: 6px;
			left: 0;
		}
	}

	.share {
		$base: 30px;
		width: $base;
		height: $base;
		position: relative;
		transform: translateX(-95px);

		.share-button {
			border: 2px solid #bbb;
			background: url("../img/share.svg") no-repeat center center / cover;
		}

		> div {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			cursor: pointer;
			box-sizing: border-box;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}

		.social-button {
			transition: .3s all ease;
			opacity: 0;
			pointer-events: none;
			background: url('../img/social-icons.svg') no-repeat;

			&.facebook {
				background-position: -62px 0;
				background-color: #3b5999;
			}

			&.twitter {
				background-position: 0 -31px;
				background-color: #55acee;
			}

			&.weibo {
				background-position: 0 0;
				background-color: #EA4F3F;
			}

			&.show {
				transform: none;
				opacity: 1;
				pointer-events: auto;

				&:nth-child(3){
					transition-delay: .1s;
				}

				&:nth-child(4){
					transition-delay: .2s;
				}
			}
		}

	}

	.columns {
		column-count: 2;
		column-gap: 50px;
	}

	p:not(:last-child) {
    margin-bottom: 25px;
  }

  .exhibition-detail {
  	// padding-left: 50px;

  	.list:not(:last-child) {
  		border-bottom: 1px solid #ddd;
  		padding-bottom: 15px;
  		margin-bottom: 15px;
  	}

  	.list {
  		padding-right: 20px;
  	}

  	.title {
  		font-size: 1rem;
  		margin-bottom: 4px;
  		color: #555;
  	}

  	.detail {
  		font-size: .85rem;
  		color: #777;
  		font-weight: 300;
  	}
  }
}

@media (min-width: 769px) {
	#exhibition {

		.left-side {
			border-left: 180px;
			border-right: 100px;
			border-style: solid;
			border-color: transparent;
			position: relative;
		}

		.share .social-button {
			transform: translateY(-5px);
		}
	}

	.big-image {
		height: 100vh;
	}

}

@media (max-width: 768px) {
	#exhibition {
		padding: 30px;

		.share.share {
			transform: none;
			position: relative;
			display: flex;
			width: auto;
			margin-bottom: 20px;

			> div {
				width: 30px;

				&:not(:last-child) {
					margin-right: 10px;
					margin-bottom: 0;
				}
			}

		}

		.share .social-button {
			transform: translateX(-5px);
		}

		.left-side {
			margin-bottom: 40px;
		}

		.right-side.right-side {
			padding: 0;
			margin-top: 0;
		}
	}
}

@media (max-width: 1023px) {

	#exhibition {

		.right-side {
			padding: 0 100px;
			margin-top: 50px;
		}
	}
}

@media (max-width: 480px) {

	#exhibition .columns {
		column-count: 1;
	}

	.big-image {
		height: 100vh;
	}
}