$footerOpacity: .5;

#footer {
	background: #1F1F1F;
	color: #fff;
	text-align: center;
	padding-top: 40px;

	.text {
		// opacity: $footerOpacity;
	}

	.content {

		h2 {
			margin-bottom: 10px;
		}

		h5 {
			margin-bottom: 30px;
			opacity: $footerOpacity;
		}
	}

	.copyright {
		padding: 25px;
	}
}

.contents-wrapper {
	margin: 50px 0 70px;
	position: relative;

	> .content:not(:last-child) {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	> .content {
		opacity: 0;
		pointer-events: none;
		transition: .2s all ease;

		&.active {
			pointer-events: auto;
			transition-delay: .1s;
		}
	}
}

.tab {

	.active.active.active.active {
		opacity: 1;
	}

}

.tab-buttons-wrapper {

	a {
		color: #fff;
		opacity: $footerOpacity;
		transition: .3s all ease;
		text-transform: capitalize;

		&:hover {
			opacity: 1;
		}
	}
}

.social-list {
	$borderColor: rgba(255,255,255,.15);
	border-top: 1px solid $borderColor;
	border-bottom: 1px solid $borderColor;
	$iconBase: 25px;
	padding: 10px 0;

	a {
		text-align: center;
		display: block;
		opacity: $footerOpacity;
		transition: .3s all ease;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}

		.icon {
			width: 25px;
			height: 25px;
			background: url('../img/footer-icons.svg') no-repeat 0 0;
		}
	}

	// bgp -> hotkey for background-position property

	.instagram .icon {
		background-position: -27px 0;
	}

	.facebook .icon {
		background-position: -54px 0;
	}

	.twitter .icon {
		background-position: 0 -27px;
	}

	.wechat .icon {
		background-position: -27px -27px;
	}

	.newsletter .icon {
		background-position: -54px -27px;
	}

	.icon {
		width: $iconBase;
		height: $iconBase;
		display: inline-block;
		background: red;
		vertical-align: bottom;
	}

	.text {
		display: inline-block;
		line-height: $iconBase;
		vertical-align: bottom;
		text-transform: uppercase;
		font-size: .8rem;
		color: #fff;
	}
}

// iphone 6 plus
@media (max-width: 414px) {

	.social-list.social-list {

		li {
			margin: 0 5px;
		}
		
		.text {
			display: none;
		}
	}

}

@media (min-width: 769px) {

	.mobile-tab {

		.content:not(:last-child) {
			border-right: 1px solid rgba(255,255,255,.25);
		}
	}
}

@media (max-width: 768px) {

	.mobile-tab {

		.tab-contents-wrapper {
			position: relative;

			> .content:not(:last-child) {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}

			> .content {
				opacity: 0;
				pointer-events: none;
				transition: .2s all ease;

				&.active {
					pointer-events: auto;
					transition-delay: .1s;
				}
			}
		}

		.tab-buttons-wrapper {
			text-align: center;
			margin-top: 30px;

			.dot-button {
				$base: 10px;
				width: $base;
				height: $base;
				border-radius: 50%;
				display: inline-block;
				margin: 0 5px;
				background: #fff;
			}
		}
	}
}