#home {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: url("../img/home-bg2.jpg") no-repeat center center / cover;

	.content-wrapper {
		height: 100%;
		display: flex;
	}

	.content {
		align-self: center;
	}

	p {
		margin-bottom: 50px;
		font-size: 1.5rem;
		text-align: center;
	}

	// with overlay
	&.w-overlay {
		color: #fff;

		> * {
			position: relative;
		}

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0,0,0,.25);
		}
	}
}

// iphone 6 plus
@media (max-width : 414px) {
	
	#home {
		padding: 0 10px;

		p {
			font-size: 1.2rem;
		}
	}	
}