#news {
	overflow: hidden;

	.left-side {
		padding: 50px 0 20px;
		padding-right: 50px;
		padding-left: 40px;
    display: flex;
    flex-direction: column;

		h3 {
			margin-bottom: 10px;
		}

		.buttons-ctr {
			margin-top: auto;
		}

		.news-slides-controls {
			margin-top: auto;
		}
	}

	.news-slides-controls {
		display: flex;
		position: relative;

		svg {
			display: block;
		}

		.control {
			cursor: pointer;
			border: 1px solid #ddd;
		}

		.disabled {
			pointer-events: none;
		}

		.next {
			border-left: none;
		}
	}

	.news-slides-scroller {
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
	}

	figure {

		figcaption {
			padding: 15px;
		}

		h5:not(:last-child) {
			margin-bottom: 5px;
		}

		h4:not(:last-child) {
			margin-bottom: 5px;
		}

		.date {
			margin-top: 40px;
		}
	}
}

.news-slides {
	font-size: 0;
	text-align: left;
	cursor: move;

	.slide {
		width: 325px;
		display: inline-block;

		&:not(:last-child) {
			margin-right: 20px;
		}
	}
}

@media (max-width: 768px) {

	#news {
		padding: 50px 0;
		text-align: center;

		.left-side {
			padding-bottom: 0;
			padding-top: 0;
		}

		.news-slides-controls {
			display: none;
		}
	}

	.news-slides {

		.slide {
			width: 250px;
		}
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  {

	#news {
		p {
			padding: 0 50px;
		}
	}
}