.popup {
	height: 100vh;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9;
	display: flex;
	box-sizing: border-box;
	$subOpacity: .5;
	transition: .3s all ease;
	transform: translateY(100%);

	&.subscribe {
		background: #1F1F1F;
		color: #fff;

		h3:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&.wechat {
		background: #fff;
		text-align: center;

		h3 {
			margin-bottom: 30px;
		}

		img {
			display: block;
			margin: 0 auto;
			max-width: 300px;
			margin-bottom: 20px;
		}

		figure {
			border: none;

			figcaption {
		    padding: 0;
		    font-size: 1.2rem;
			}
		}
	}

	&.show {
		transform: none;

		.anim-1,
		.anim-2,
		.anim-3 {
			opacity: 1;
			transform: none;
		}

		.anim-1 {
			transition-delay: .15s;
		}

		.anim-2 {
			transition-delay: .3s;
		}

		.anim-3 {
			transition-delay: .45s;
		}
	}

	.el-hidden {
		opacity: 0;
		transform: translateY(15px);
		transition: .3s all ease;
	}

	.anim-1 {
		@extend .el-hidden;
	}

	.anim-2 {
		@extend .el-hidden;
	}

	.anim-3 {
		@extend .el-hidden;
	}

	.content-wrapper {
		align-self: center;
		width: 100%;
	}

	.close-icon {
		position: absolute;
		$iconFixedBase: 30px;
		top: $iconFixedBase;
		right: $iconFixedBase;
		cursor: pointer;
	}

	h5 {
		opacity: $subOpacity;
		line-height: 2;
	}

	h5:not(:last-child) {
		margin-bottom: 10px;
	}

	input[type="email"] {
		display: block;
		margin: 100px 0 60px;
		padding: 20px 0;
		border: none;
		background: transparent;
		color: #fff;
		font-size: 1.4rem;
		border-bottom: 2px solid rgba(255,255,255,$subOpacity);
		width: 100%;
		-webkit-appearance: none;
		-moz-appearance: none;
		border-radius: 0;

		&:focus + .border-bottom {
			transform: none;
		}
	}

	.input-wrapper {
		position: relative;
	}

	.border-bottom {
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 0;
		height: 2px;
		background: #fff;
		transform: scaleX(0);
		transform-origin: left;
		transition: .3s all ease;
	}

	a {
		color: #fff;
	}

	.send {
		background: #fff;
		color: #000;
	}

	.button.close {
		background: #39393A;
		margin-left: 10px;
	}
}

// iphone 6 plus
@media (max-width : 414px) {

	.popup {
		padding: 30px;
	}

	.popup.wechat {
		img {
			width: 100%;
		}
	}
}