.zwirner-slideshow {	
	position: relative;
	overflow: hidden;
	box-sizing: border-box;

	.content-wrapper {
		position: absolute;
		right: 150px;
		bottom: 0;

		.content {
			display: block;

			&:not(.active) {
				display: none;
			}
		}
	}

	.content {
		background: #fff;
		padding: 25px 30px;
		padding-bottom: 0;
		color: #000;

		h5:not(:last-child) {
			margin-bottom: 3px;
		}

		h4:not(:last-child) {
			margin-bottom: 13px;
		}
	}

	&:not(.no-content) {

		&:hover {

			.control.next,
			.control.prev {
				transform: none;
			}
		}

		// controls
		.control {
			$controlBase: 50px;
			width: $controlBase;
			height: $controlBase;
			background: #fff;
			position: absolute;
			top: 50%;
			margin-top: -$controlBase/2;

			&.next {
				right: 0;
				transform-origin: center right;
			}

			&.prev {
				left: 0;
				transform-origin: center left;
			}

			&.disabled {
				opacity: .5;
				pointer-events: none;
				// transform: scale(.75);
			}
		}
		
	}

	&.no-content {

		.controls-wrapper {
			position: absolute;
			background: #fff;
			$base: 30px;
			right: $base;
			bottom: $base;
			display: flex;

			.control {
				transform: none;

				&:first-child {
					border-right: 1px solid #ddd;
				}
			}
		}
	}

	.control {
		cursor: pointer;
		transition: .3s all ease;

		&.disabled {
			opacity: .5;
			pointer-events: none;
		}

		svg {
			display: block;
		}
	}

}

.slides-wrapper {
	position: relative;
	background: #000;
	height: 100%;

	// slides
	.slide {
		transition: .15s all ease;
		opacity: 0;
		height: 100%;

		&.active {
			opacity: 1;
			transition: .3s all ease;
		}

		&:not(:first-child) {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	// .content {
	// 	@extend .content-wrapper;
	// 	background: transparent;
	// }

}

// hide controls when the width is more than 768px
@media (min-width: 769px) {

	.zwirner-slideshow {
		height: 100vh;

		.control {
			&.next {
				transform: translateX(100%);
			}
			&.prev {
				transform: translateX(-100%);
			}
		}
	}

}

// iphone 6 plus
@media (max-width : 414px) {

	.zwirner-slideshow {
    height: 100vh;

    .content-wrapper {
	    bottom: 0;
	    left: 0;
	    right: 0;
    }

    .content {
    	padding: 15px;
    }

    .control {
    	zoom: .8;
    }
	}
}