section#artist-list
	.content
		.row
			.col-md-3.col-sm-12.col-xs-12.left-side
				h3 藝術家
				p 如需參考藝術家中文簡介，請關注畫廊微信公眾號，並在藝術家菜單中查閱。
				.buttons-ctr.inline
					include buttons.html

			.col-md-9.col-sm-12.col-xs-12.right-side

				//- artist list
				.row
					.col.col-md-3.col-sm-3.col-xs-12
						ul.artist-list
							li
								a.link(href="https://www.davidzwirner.com/artists/tomma-abts", target="_blank") 托馬·阿布茨
							li
								a.link(href="https://www.davidzwirner.com/artists/anni-albers", target="_blank") 安妮·阿爾伯斯
							li
								a.link(href="https://www.davidzwirner.com/artists/josef-albers", target="_blank") 約瑟夫·阿爾伯斯
							li
								a.link(href="https://www.davidzwirner.com/artists/francis-alÿs", target="_blank") 弗朗西斯·埃利斯
							li
								a.link(href="https://www.davidzwirner.com/artists/mamma-andersson", target="_blank") 瑪瑪·安德森
							li
								a.link(href="https://www.davidzwirner.com/artists/ruth-asawa", target="_blank") 魯斯·阿薩瓦
							li
								a.link(href="https://www.davidzwirner.com/artists/karla-black", target="_blank") 卡拉·布萊克
							li
								a.link(href="https://www.davidzwirner.com/artists/michaël-borremans", target="_blank") 米凱爾·博伊曼斯
							li
								a.link(href="https://www.davidzwirner.com/artists/carol-bove", target="_blank") 卡羅爾·波維
							li
								a.link(href="https://www.davidzwirner.com/artists/r-crumb", target="_blank") 羅伯特· 克魯伯
							li
								a.link(href="https://www.davidzwirner.com/artists/raoul-de-keyser", target="_blank") 拉烏爾·德·凱澤
							li
								a.link(href="https://www.davidzwirner.com/artists/philip-lorca-dicorcia", target="_blank") 菲利普-洛卡·迪克西亞
							li
								a.link(href="https://www.davidzwirner.com/artists/stan-douglas", target="_blank") 斯坦·道格拉斯
							li
								a.link(href="https://www.davidzwirner.com/artists/marlene-dumas", target="_blank") 馬琳·杜馬斯
							li
								a.link(href="https://www.davidzwirner.com/artists/marcel-dzama", target="_blank") 馬塞爾·德塞瑪

					.col.col-md-3.col-sm-3.col-xs-12
						ul.artist-list
							li
								a.link(href="https://www.davidzwirner.com/artists/william-eggleston", target="_blank") 威廉·埃格爾斯頓
							li
								a.link(href="https://www.davidzwirner.com/artists/dan-flavin", target="_blank") 丹·弗萊文
							li
								a.link(href="https://www.davidzwirner.com/artists/suzan-frecon", target="_blank") 蘇珊·弗雷孔
							li
								a.link(href="https://www.davidzwirner.com/artists/isa-genzken", target="_blank") 伊薩·根澤肯
							li
								a.link(href="https://www.davidzwirner.com/artists/felix-gonzalez-torres", target="_blank") 費利克斯岡薩雷斯-托雷斯
							li
								a.link(href="https://www.davidzwirner.com/artists/donald-judd", target="_blank") 唐納德·賈德
							li
								a.link(href="https://www.davidzwirner.com/artists/kawara", target="_blank") 河原溫
							li
								a.link(href="https://www.davidzwirner.com/artists/toba-khedoori", target="_blank") 托巴·基多里
							li
								a.link(href="https://www.davidzwirner.com/artists/jeff-koons", target="_blank") 傑夫·昆斯
							li
								a.link(href="https://www.davidzwirner.com/artists/yayoi-kusama", target="_blank") 草間彌生
							li
								a.link(href="https://www.davidzwirner.com/artists/sherrie-levine", target="_blank") 謝麗·利文
							li
								a.link(href="https://www.davidzwirner.com/artists/kerry-james-marshall", target="_blank") 克里·詹姆斯·馬歇爾
							li
								a.link(href="https://www.davidzwirner.com/artists/gordon-matta-clark", target="_blank") 戈登·馬塔-克拉克
							li
								a.link(href="https://www.davidzwirner.com/artists/john-mccracken", target="_blank") 約翰·麥克拉肯
							li
								a.link(href="https://www.davidzwirner.com/artists/giorgio-morandi", target="_blank") 喬治·莫蘭迪

					.col.col-md-3.col-sm-3.col-xs-12
						ul.artist-list
							li
								a.link(href="https://www.davidzwirner.com/artists/oscar-murillo", target="_blank") 奧斯卡·穆里略
							li
								a.link(href="https://www.davidzwirner.com/artists/alice-neel", target="_blank") 愛麗絲·尼爾
							li
								a.link(href="https://www.davidzwirner.com/artists/jockum-nordström", target="_blank") 喬克姆·諾德斯特龍
							li
								a.link(href="https://www.davidzwirner.com/artists/chris-ofili", target="_blank") 克里斯·奧菲利
							li
								a.link(href="https://www.davidzwirner.com/artists/palermo", target="_blank") 帕勒莫
							li
								a.link(href="https://www.davidzwirner.com/artists/raymond-pettibon", target="_blank") 雷蒙德·帕迪伯恩 
							li
								a.link(href="https://www.davidzwirner.com/artists/sigmar-polke", target="_blank") 西格瑪·波爾克
							li
								a.link(href="https://www.davidzwirner.com/artists/neo-rauch", target="_blank") 尼奧·勞赫
							li
								a.link(href="https://www.davidzwirner.com/artists/ad-reinhardt", target="_blank") 艾德·萊因哈特
							li
								a.link(href="https://www.davidzwirner.com/artists/jason-rhoades", target="_blank") 傑森·羅德斯
							li
								a.link(href="https://www.davidzwirner.com/artists/michael-riedel", target="_blank") 邁克爾·里德爾
							li
								a.link(href="https://www.davidzwirner.com/artists/bridget-riley", target="_blank") 布里奇特·賴利
							li
								a.link(href="https://www.davidzwirner.com/artists/thomas-ruff", target="_blank") 托馬斯·魯夫
							li
								a.link(href="https://www.davidzwirner.com/artists/fred-sandback", target="_blank") 弗瑞德·桑德貝克
							li
								a.link(href="https://www.davidzwirner.com/artists/jan-schoonhoven", target="_blank") 揚·斯庫霍溫

					.col.col-md-3.col-sm-3.col-xs-12
						ul.artist-list
							li
								a.link(href="https://www.davidzwirner.com/artists/richard-serra", target="_blank") 里查德·塞拉
							li
								a.link(href="https://www.davidzwirner.com/artists/yutaka-sone", target="_blank") 曾根裕
							li
								a.link(href="https://www.davidzwirner.com/artists/al-taylor", target="_blank") 阿爾·泰勒
							li
								a.link(href="https://www.davidzwirner.com/artists/diana-thater", target="_blank") 戴安娜·塔特爾
							li
								a.link(href="https://www.davidzwirner.com/artists/wolfgang-tillmans", target="_blank") 沃夫岡·提爾曼斯
							li
								a.link(href="https://www.davidzwirner.com/artists/luc-tuymans", target="_blank") 呂克·圖伊曼斯
							li
								a.link(href="https://www.davidzwirner.com/artists/james-welling", target="_blank") 詹姆斯·威靈
							li
								a.link(href="https://www.davidzwirner.com/artists/doug-wheeler", target="_blank") 道格·惠勒
							li
								a.link(href="https://www.davidzwirner.com/artists/christopher-williams", target="_blank") 克里斯托弗·威廉姆斯
							li
								a.link(href="https://www.davidzwirner.com/artists/jordan-wolfson", target="_blank") 喬丹·沃爾夫森
							li
								a.link(href="https://www.davidzwirner.com/artists/yun-hyong-keun", target="_blank") 尹亨根
							li
								a.link(href="https://www.davidzwirner.com/artists/lisa-yuskavage", target="_blank") 麗莎·約斯卡瓦吉