<!-- wechat -->
<a href="weixin://scanqrcode" class="button wechat open-wechat">
	<div class="text">關注</div>
	<div class="icon">
		<svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
	    <g fill="#000">
	      <path d="M21 17c-.6 0-1 .3-1 .7 0 .5.4.8 1 .8.4 0 .7-.4.7-.8 0-.5-.3-.8-.8-.8m-4.6.7c0-.4-.4-.8-.8-.8-.5 0-1 .2-1 .7 0 .4.4.8 1 .8.4 0 .8-.3.8-.8m8.6.8c-2 0-3.5.6-4.8 1.8-1.4 1.2-2 2.8-1.8 4.6l-2-.3h-.8c-.6.5-1.2 1-2 1.3l.4-1.6c0-.4 0-.6-.3-.8-2.2-1.5-3.2-3.8-2.5-6 .7-2.3 2.3-3.6 4.5-4.2 3-1 6.3 0 8 2.2.8 1 1.2 1.8 1.3 3"/>
	      <path d="M26.7 22c-.4 0-.7.4-.7.7 0 .4.3.7.6.7.4 0 .7-.2.7-.6 0-.4-.3-.7-.6-.7zm-4.4 1.4c.4 0 .7-.2.7-.6 0-.4-.3-.7-.7-.7-.4 0-.7.4-.7.8 0 .3.3.6.7.6zM29 30c-.5-.3-1-.7-1.7-.8-.5 0-1 .3-1.7.4-2 .2-3.5-.3-5-1.6-2.5-2.4-2-6 1-8 2.5-1.7 6.4-1 8.3 1.3 1.5 2 1.3 5-.7 6.6-.5.4-.7 1-.4 1.5v.5z"/>
	    </g>
		</svg>
	</div>
</a>

<!-- newsletter -->
<div class="button mail open-subscribe">
	<div class="text">訂閱</div>
	<div class="icon">
		<svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
	    <g fill="none" stroke="#000" stroke-linejoin="round">
	      <path d="M31 26.2c0 1-.8 1.8-2 1.8H13c-1 0-1.8-.8-1.8-1.8v-9.4c0-1 .7-1.8 2-1.8h16c1.3 0 2 .7 2 1.8v9.4z" stroke-linecap="round"/>
	      <path d="M30 16l-9 7-10-7"/>
	    </g>
		</svg>
	</div>
</div>