section#footer.tab
	ul.inline-list.tab-buttons-wrapper
		li
			a(href="", data-content="hong-kong").active 香港
		li
			a(href="", data-content="london") 倫敦
		li
			a(href="", data-content="new-york") 紐約

	.contents-wrapper.tab-contents-wrapper
		.content.hong-kong.active
			h2 香港
			h5 中環皇后大道中80號H Queen's大樓5-6層
			h4.open-hours-hongkong 今日營業：11am-7pm

		.content.london
			h2 倫敦
			h5 葛拉夫頓街24號
			h4.open-hours-london 今日營業：10am-6pm

		.content.new-york.tab.mobile-tab

			.row.tab-contents-wrapper
				.col-md-4.col-sm-4.col-xs-12.content.active
					h2 紐約：19街
					h5 西19街519、525及533號<br>紐約
					h4.open-hours-newyork 今日營業：10am-6pm

				.col-md-4.col-sm-4.col-xs-12.content
					h2 紐約：20街
					h5 西20街537號<br>紐約
					h4.open-hours-newyork 今日營業：10am-6pm

				.col-md-4.col-sm-4.col-xs-12.content
					h2 紐約：69街
					h5 東69街34號<br>紐約
					h4.open-hours-newyork 今日營業：10am-6pm

			.tab-buttons-wrapper
				a.dot-button(href="", data-content="hong-kong").active
				a.dot-button(href="", data-content="london")
				a.dot-button(href="", data-content="new-york")

	ul.inline-list.social-list
		li
			a.wechat.open-wechat(target="_blank")
				.icon
				.text 起制

		li
			a.weibo(href="http://weibo.com/davidzwirner", target="_blank")
				.icon
				.text 借政

		li
			a.facebook(href="https://www.facebook.com/davidzwirner", target="_blank")
				.icon
				.text facebook

		li
			a.twitter(href="https://twitter.com/davidzwirner", target="_blank")
				.icon
				.text twitter

		li
			a.instagram(href="https://www.instagram.com/davidzwirner/", target="_blank")
				.icon
				.text instagram

		li
			a.newsletter.open-subscribe(target="_blank")
				.icon
				.text 起制内

	.copyright
		.text 版權所有©David Zwirner - 保留所有權利

script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-with-data.min.js")