<form class="subscribe-wrapper input-wrapper anim-2" action="https://davidzwirner.us9.list-manage.com/subscribe/post?u=647ec2a4e1d9c140e5e034fb7&amp;id=809c651f99" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
	<div class="input-wrapper">
	  <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="郵箱地址" required>
	  <div class="border-bottom"></div>
	  <div style="position: absolute; left: -5000px;" aria-hidden="true">
	    <input type="text" name="b_074a5f521f440ccfa7bacb4e3_8a4070226e" tabindex="-1" value="">
	  </div>
	</div>

  <div class="buttons-wrapper anim-3">
  	<input class="button secondary send" type="submit" value="提交" name="subscribe" id="mc-embedded-subscribe">
  	<div class="button secondary close close-subscribe">關閉</div>
  </div>
</form>