//- wechat poup
.popup.wechat
	.close-icon.close-wechat.anim-2
		svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24")
			g(fill="#000", fill-rule="evenodd")
				path(d="M22 .7L23.2 2 2 23.4.8 22z")
				path(d="M.7 2L2 .8 23.4 22 22 23.2z")
	.content-wrapper
		.content.base-width
			h3.anim-1 掃描二維碼關注畫廊微信公眾號
			figure
				img.anim-2(src="img/dz-qrcode.jpg", alt="David Zwirner QR Code")
				figcaption.anim-3 WeChat ID: david_zwirner

//- subscribe popup
.popup.subscribe
	.close-icon.close-subscribe.anim-2
		svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewbox="0 0 24 24")
			g(fill="#FFF", fill-rule="evenodd")
				path(d="M22 .7L23.2 2 2 23.4.8 22z")
				path(d="M.7 2L2 .8 23.4 22 22 23.2z")

	.content-wrapper
		.content.base-width
			.anim-1
				h5.w-dash 郵件簡報
				h3 訂閱
				h5 追蹤畫廊最新展覽、新聞及各項活動

			//- .input-wrapper.anim-2
			//- 	input(type="email", placeholder="郵箱地址")
			//- 	.border-bottom

			include form.html