<svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 47 (45396) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="share">
            <rect id="Rectangle" fill="#D8D8D8" x="0" y="0" width="30" height="30"></rect>
            <path d="M16,16 L16,19.99375 L24,14.025 L16,8 L16,11.73125 C6.325,11.73125 6,22 6,22 C8.7375,17.53125 10.75,16 16,16 Z" id="Shape" fill="#000000" fill-rule="nonzero"></path>
        </g>
    </g>
</svg>