- var slides = [3, 5, 6];

.slides-wrapper
  each val, index in slides
    if index === 0
      .slide.active
        img(src="img/slides/" + val + ".jpg", alt="", title="")
          
    else
      .slide
        img(src="img/slides/" + val + ".jpg", alt="", title="")

.controls-wrapper
  .control.prev.disabled
    svg(xmlns="http://www.w3.org/2000/svg", width="50", height="50", viewbox="0 0 50 50")
      g(fill="none", fill-rule="evenodd")
        path(stroke="#979797", stroke-width="2", d="M30 15L20 25l10 10", stroke-linecap="round", stroke-linejoin="round")
  .control.next
    svg(xmlns="http://www.w3.org/2000/svg", width="50", height="50", viewbox="0 0 50 50")
      g(fill="none", fill-rule="evenodd")
        path(stroke="#979797", stroke-width="2", d="M20 15l10 10-10 10", stroke-linecap="round", stroke-linejoin="round")